[33mcommit 0b158729ef657c98c5fd22aeeb1f7056ba101346[m[33m ([m[1;36mHEAD -> [m[1;32mmaster[m[33m, [m[1;31morigin/master[m[33m, [m[1;31morigin/HEAD[m[33m)[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Sat Sep 7 23:59:00 2019 +0500

    Добавил новые стили и строки

[33mcommit 2896b4f01d73ffa6b4943da5a70d179b1536243b[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Sat Sep 7 23:48:12 2019 +0500

    Создал новый стиль

[33mcommit d3c4a3a98dc640817a8ec3e69f3209c136a28d7e[m
Merge: 6c37018 7ca9306
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Thu May 23 19:19:49 2019 +0500

    Merge branch 'Improvement'

[33mcommit 6c370189fa96a8623b7cb7a42a5e1e2c9c060f9d[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Thu May 23 19:14:54 2019 +0500

    удалил фигню

[33mcommit 7ca93067091b482235a204df032048bfd4314236[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Thu May 23 19:11:38 2019 +0500

    Обновил png

[33mcommit 306e22f5d8cb65535a73eabf269175227a5f01ae[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Thu May 23 19:09:47 2019 +0500

    Доработал Pluses, Reviews, Contacts.

[33mcommit 4cef5a87236ee98911937c8e7193975772d5b77e[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Thu May 23 09:33:53 2019 +0500

    подготовка

[33mcommit d42a5413c317851471f547390135a8c86510b78e[m
Merge: e5cc8ac 56883af
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Wed May 22 15:21:23 2019 +0500

    Merge branch 'Feature/улучшения'

[33mcommit 56883afa519479d9b3edcec43e7afba182a7d81a[m
Merge: a35d610 e5cc8ac
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Wed May 22 15:18:12 2019 +0500

    Merge branch 'master' into Feature/улучшения

[33mcommit e5cc8acd3e6535fa9f6947d594603319ed142b5d[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Wed May 22 15:14:11 2019 +0500

    Добавил карту

[33mcommit a35d6102038f34d9f469b16317fa8ae0eb7ac6e3[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Wed May 22 15:09:28 2019 +0500

    Добавил ещё текст

[33mcommit 010121a91bb182d074b475ff7133772bb6e82242[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Wed May 22 15:05:01 2019 +0500

    Добавил новый файл

[33mcommit 0625b4d8f90c8a42d993a65c49d44760f2899d4d[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Wed May 22 14:49:03 2019 +0500

    Revert "Добавил текст в скриншоты."
    
    This reverts commit 0bff290999f6a3e3c7446396b0201e424c870147.

[33mcommit b1d0c1ccede5f3eb6cbbf896799caff7343c05dc[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Wed May 22 14:37:06 2019 +0500

    Добавил данные проекта

[33mcommit 0bff290999f6a3e3c7446396b0201e424c870147[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Wed May 22 12:55:35 2019 +0500

    Добавил текст в скриншоты.

[33mcommit 1afdb2135d314bf55c8f5859f5cd5284070d9ee9[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Wed May 22 12:50:47 2019 +0500

    Первый вариант стилей.

[33mcommit 5d00a487820b9d721335fe29df514d261eec958d[m
Author: Stasonchik81 <stanislavmuratov@yandex.ru>
Date:   Wed May 22 12:50:06 2019 +0500

    Первый вариант домашней работы.

[33mcommit d0ef304cded0408393c03bf4e0101a29c14e31fe[m
Author: Stasonchik81 <50903659+Stasonchik81@users.noreply.github.com>
Date:   Wed May 22 12:29:05 2019 +0500

    Initial commit
